.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
}

.App-content {
  font-size: large;
  margin-top: 20px;
}
