.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
}

.App-content {
  font-size: large;
  margin-top: 20px;
}

.demo-container video, .demo-container canvas {
    width: 320px;
    height: 240px;
    transform: scale(2,2) translate(80px,60px);
    position: absolute;
    float: left;
    left: 0;
}
.demo-container {
  position: relative;
    
    /*width: 640px;
    height: 640px;*/
    left: 50%;
    margin-left: -320px;
}

.check_footer {
    position: fixed;
    bottom: 0;
    height: 15%;
    background: lightgray;
    width: 100%;
    font-size: 30px;
}

.check_footer h1 {
  margin-top: 50px;
  font-size: 47px;
}